@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove unnecessary :root and body styles */

/* Apply styles to input fields */
input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 2px solid var(--primary); /* Use the primary color variable */
  padding: 0.25rem 0; /* Add some padding for a better visual appearance */
  transition: border-color 0.2s ease-in-out; /* Add a smooth transition */
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: var(--secondary); /* Use the secondary color variable when input is focused */
  outline: none; /* Remove the default outline on focus */
}

/* Style placeholder text color */
::placeholder {
  color: var(--gray); /* Use the gray color variable for placeholder text */
}
